<style type="text/css">
.mlxd-sidebar{height:100%;width:160px;background-color:#fdfdfd;position:absolute!important;z-index:1;overflow:auto}



a:link {
    color:darkslateblue;
    font-weight:bold;
}


/* visited link */
a:visited {
    color: darkslategrey;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: darkgreen;
}

</style>

<div class="mlxd-sidebar w3-bar-block" style="width:15%">
  <a href="/index" class="w3-bar-item w3-button">ExaFEL main page</a>
  <a href="/about" class="w3-bar-item w3-button">About</a>
  <a href="#" class="w3-bar-item w3-button">Project info</a>
  <a href="#" class="w3-bar-item w3-button">Page list</a>
</div>


